<div class="container-fluid bg-filenotfound">
    <div class="container">
    <div class="row center">
        <div class="col-md-12">
            <p class="filenotfound-title">PAGE NOT FOUND</p>
        </div>
        <div class="col-md-12">
            <p class="filenotfound-content">The link you clicked may be broken or</p>
            <p class="filenotfound-content">the page may have been removed.</p>
        </div>

        <div class="col-md-12">
            <b style="color: #808080;">VISIT THE <span><a class="filenotfound-link" href="#/#getintouch">HOMEPAGE</a> </span> OR <span><a class="filenotfound-link" href="#/">CONTACT US</a> </span> ABOUT THE PROBLEM</b>
        </div>
    </div>
    <!--row-->
</div>
<!--container-fluid-->
</div>