<div class="container-fluid fooster-background">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="col-md-4">
            <h3 translate>fooster.about</h3>
            <p translate>text.about</p>
        </div>
        <div class="col-md-3">
            <h3 translate>fooster.quicklink</h3>
            <a href="#/#upcomingevent" class="quick-link" translate>text.upcommingevent</a>
            <br>
            <a href="#/#recentpost" class="quick-link" translate>title.recentpost</a>
            <br>
            <a href="#/#gallery" class="quick-link" translate>title.gallery</a>
            <br>
            <a href="#/#getintouch" class="quick-link" translate>title.getittouch</a>

        </div>
        <div class="col-md-3">
            <h3 translate>fooster.ouraddress</h3>
            <p translate>menu.chediluang</p>
            <p translate>fooster.ouraddressdetail</p>
            <p translate>fooster.phone</p>
            <p translate>fooster.email</p>
        </div>
        <div class="col-md-2">
            <h3 translate>fooster.connect</h3>
            <a href="http://www.facebook.com">
                <img src="resources/images/fb-icon.png">
            </a>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div  class="col-md-12 marginTop30 center">
        <p>Copyright &copy; nettanawat 2015 All rights reserved</p>
    </div>
</div>