<div class="container-fluid">
    <div class="row"  ng-controller="listForumController">
        <div style="height: 400px; background-color: rgb(249,241,231)" class="col-md-12 bg-forum">

            <!--    menu-->
            <div ng-include src="'template/menu.html'"></div>

            <div class="col-md-1"></div>
            <!--    content-->
            <div class="col-md-10" style="padding-top: 8%;    -webkit-font-smoothing: antialiased;">
                <p style="color:#ffffff;font-weight: bold; font-size: 45px; opacity: 0.8" translate>text.forum</p>
                <p style="color:#ffffff;font-family: 'Times New Roman'; font-size: 25px; opacity: 0.6" translate>text.anyquestionaskusnow</p>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row">
        <!--padding left -->
        <div class="col-md-1"></div>
        <div style="margin-top: 50px;" class="col-md-8">
            <div class="col-md-12"  ng-repeat="forum in forums">
                <div class="col-md-2">
                    <img src="../resources/images/user-no-image.png" class="col-md-12">
                </div>
                <div class="col-md-10">
                    <p style="font-size: 25px;">{{forum.title}}</p>
                    <p>{{forum.detail}}</p>
                    <p style="font-size: 12px;">{{forum.formatDate}}</p>
                    <a style="color: #000000" ng-href="#/forum/{{forum.id}}" class="btn btn-warning" translate>button.readforum</a>
                </div>
                <hr class="col-md-11">
            </div>
        </div>
        <div class="col-md-2 center most-joined-event">
            <p class="most-joined-event-title">MOST JOINED EVENTS</p>
            <span class="glyphicon glyphicon-minus col-md-12 stick-to-top"></span>
            <img src="../resources/images/chedi1.jpg" class="col-md-12">
            <p>Offer food to the monk in the night time</p>
            <a style="color: #000000"  class="btn btn-sm btn-warning" translate>button.joinevent</a>
            <hr>
            <img src="../resources/images/chedi1.jpg" class="col-md-12">
            <p>Offer food to the monk in the night time</p>
            <a style="color: #000000"  class="btn btn-sm btn-warning" translate>button.joinevent</a>
            <hr>
        </div>
        <!--padding right-->
        <div class="col-md-1"></div>
        </div>

        <div style="padding-top: 20px; padding-bottom: 40px;" class="col-md-12 center">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">&laquo;</button>
                <button type="button" class="btn btn-default">1</button>
                <button type="button" class="btn btn-default">2</button>
                <button type="button" class="btn btn-default">3</button>
                <button type="button" class="btn btn-default">4</button>
                <button type="button" class="btn btn-default">&raquo;</button>
            </div>
        </div>

        <!--row-->
    </div>
    <!--container-fluid-->
</div>

<div ng-include src="'template/footer.html'"></div>