<div class="container-fluid">
    <div class="row" ng-controller="aForumController">
        <div style="height: 100px; background-color: rgb(50,58,68)" class="col-md-12">
            <!--    menu-->
            <div ng-include src="'template/menu.html'"></div>
        </div>
        <div class="col-md-12 bg-single-forum" style="height: auto; min-height: 450px;">
            <!--padding left-->
            <div class="col-md-1"></div>
            <div class="col-md-10 padding3">
                <div class="row">
                    <div class="col-md-2 center">
                        <img src="../resources/images/user-no-image.png" class="col-md-10">

                        <p class="col-md-10" style="color: #ffffff;">Tanawat Sitthitan</p>
                    </div>
                    <div class="col-md-10 forum-title">
                        <p style="font-size: 20px; padding-top: 10px; font-weight: bold">{{forum.title}}</p>

                        <p style="font-size: 18px">{{forum.detail}}</p>

                        <p style="font-size: 15px; right: 10px;">{{forum.formatDate}}</p>
                    </div>
                </div>
                <div class="row" ng-repeat="comment in forum.commentForumList">
                    <!--tap in 2 col-->
                    <div class="col-md-2 center">
                    </div>
                    <div class="col-md-10 forum-title">
                        <div class="col-md-2 center marginTop10">
                            <img src="../resources/images/user-no-image.png" class="col-md-11">

                            <p>Tanawat Sitthitan</p>
                        </div>
                        <div class="col-md-10 marginTop10">
                            <p style="font-size: 15px; right: 10px;">{{comment.detail}}</p>
                        </div>
                    </div>
                </div>

                <div class="row padding1">
                    <!--tap in 2 col-->
                    <div class="col-md-2 center">
                    </div>
                    <form class="col-md-10 form-group">
                        <textarea class="form-control" rows="5" placeholder="Your comment here"></textarea>

                        <input type="submit" value="Post comment" style="color: #000000; margin-top: 10px;"  class="btn btn-warning form-control">
                    </form>
                </div>

            </div>
            <!--padding right-->
            <div class="col-md-1"></div>

        </div>

        <!--row-->
    </div>
    <!--container-fluid-->
</div>

<div ng-include src="'template/footer.html'"></div>