<div class="col-md-12 marginTop30">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="col-md-12 center">
            <h2 translate>REVIEWER HIGHLIGHT</h2>
        </div>
        <hr class="col-md-12">
        <div class="col-md-6">
            <b class="col-md-12" style="font-size: 16px; padding-bottom: 5px;">Visitor rating</b>

            <div class="col-md-3">
                <p>Excellent</p>
            </div>
            <div class="col-md-8">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 50%">
                        <span class="sr-only">50% Complete (success)</span>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <span class="badge">14</span>
            </div>

            <div class="col-md-3">
                <p>Very good</p>
            </div>
            <div class="col-md-8">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 30%">
                        <span class="sr-only">30% Complete (success)</span>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <span class="badge">14</span>
            </div>


            <div class="col-md-3">
                <p>Average</p>
            </div>
            <div class="col-md-8">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 15%">
                        <span class="sr-only">15% Complete (success)</span>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <span class="badge">14</span>
            </div>


            <div class="col-md-3">
                <p>Poor</p>
            </div>
            <div class="col-md-8">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 3%">
                        <span class="sr-only">3% Complete (success)</span>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <span class="badge">14</span>
            </div>


            <div class="col-md-3">
                <p>Terrible</p>
            </div>
            <div class="col-md-8">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 2%">
                        <span class="sr-only">2% Complete (success)</span>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <span class="badge">14</span>
            </div>


        </div>

        <div class="col-md-6">
            <b class="col-md-12" style="font-size: 16px; padding-bottom: 5px; font-family: Times; font-style: italic">
                "One of the best temples in Chiangmai"</b>
            <p class="col-md-12">Large wat with a number of temples. Main temple beautiful but busy. Some of the smaller temples are simpler and more contemplative. Arrangements can be made to talk to monks. Not to be missed.</p>
            <img src="../resources/images/reviewer.png" class="col-md-2 img-circle">
            <div style="margin-left: -10px;" class="col-md-10">
                <div style="font-size: 18px; color: orange" class="col-md-4">
                    <span class="glyphicon-star glyphicon"></span>
                    <span class="glyphicon-star glyphicon"></span>
                    <span class="glyphicon-star glyphicon"></span>
                    <span class="glyphicon-star glyphicon"></span>
                    <span class="glyphicon-star glyphicon"></span>
                </div>
                <div class="col-md-8" style="color: #000000">
                        <p>Reviewed April 5, 2015</p>
                </div>
                <div class="col-md-6" style="color: #000000">
                    <p>Net Tanawat</p>
                </div>
            </div>
            <a href="" class="btn btn-success col-md-6">Add review</a>
            <a href="" class="btn btn-warning col-md-6">See more review</a>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>