<div class="container-fluid bg-filenotfound" ng-controller="addMemberController">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div class="col-md-12  top-box-signup center">
                    <p style="font-size: 30px; font-weight: bold; color: #d3d3d3; margin-top: 25px;">WAT CHEDI LAUNG</p>
                </div>
                <div class="col-md-12  bot-box-signup">
                    <p class="center join-us-free">Join Us Absolutely <span style="color: orange;">FREE.</span></p>
                    <p class="center join-us-happy">We're waiting for you to join us :)</p>
                    <form name="memberForm">
                        <div class="col-md-6">
                                <input type="text" ng-model="member.firstName" class="signup-input" id="memberFirstName" name="memberFirstName" placeholder="FIRST NAME" required>
                            <input type="text" ng-model="member.email" class="signup-input" id="memberEmail" name="memberEmail" placeholder="EMAIL" required>
                            <input type="password" class="signup-input" id="memberConfirmPassword" name="memberConfirmPassword" placeholder="CONFIRM PASSWORD" required>
                        </div>
                        <div class="col-md-6">
                            <input type="text" ng-model="member.lastName" class="signup-input" id="memberLastName" name="memberLastName" placeholder="LAST NAME" required>
                            <input type="password" ng-model="member.password" class="signup-input" id="memberPassword" name="memberPassword" placeholder="Member password" required>
                            <input type="text" ng-model="member.phoneNumber" class="signup-input" id="memberPhoneNumber" name="memberPhoneNumber" placeholder="PHONE NUMBER" required>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="signup-button" name="submit" ng-click="registerMember()">SIGN UP FREE</button>
                        </div>
                        <div class="col-md-12">
                            <p style="margin-top: 20px" class="center join-us-happy">Thank you for join us</p>
                        </div>
                    </form>
                </div>
                <div class="center col-md-12">
                    <p class="already-has">Already have an account? <span><a class="login-text-from-signup" href="#/login">Login!</a></span></p>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        <!--row-->
        </div>
    <!--container-fluid-->
</div>