/*#bgvid {*/
    /*position: absolute;*/
    /*opacity: 0.8;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*min-width: 100%;*/
    /*min-height: 100%;*/
    /*width: auto;*/
    /*height: auto;*/
    /*background: url(resources/images/nudiecover.png) no-repeat;*/
    /*background-size: cover;*/
/*}*/

.bg {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-image: url(resources/images/chedi2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.bg-event {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-image: url(resources/images/bg-event.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-filenotfound{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-image: url(resources/images/filenotfoundbg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-getintouch {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-image: url(resources/images/getintouch_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}



.bg-product {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    opacity: 0.8;
    background-image: url(resources/images/chia-plant2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-placeorder {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    opacity: 0.8;
    background-image: url(resources/images/wordpress-background-22.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.welcomeTextHeader {
    color: #f8f8ff;
    font-family: STHeiti;
    letter-spacing: 4px;
    font-size: 45px;
}

.welcomeTextDetail {
    color: #f8f8ff;
    font-family: STHeiti;
    font-style: italic;
    font-size: 25px;
}

.imgbg {
    right: 0;
    bottom: 0;
    min-width: 100%;
    max-width: 100%;
    width: auto;
    z-index: -100;
    background-size: cover;
}

#Naturafulvid {
    background-color: #000000;
}

#productitems {
    height: 110px;
    width: 100%;
    font-family: Ubuntu-Bold;
    background-color: #f5f5f5;
    padding-top: 1%;
    padding-bottom: 1%;
}

.productindiv {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}

#hi-lightA {
    opacity: 0.5;
}

#hi-lightA:hover {
    opacity: 1;
}

body, html {
    overflow: -moz-scrollbars-vertical;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 100%;
}

#bgcover {
    z-index: -100;
    background-size: cover;
    text-align: center;
}

.bold {
    font-weight: bold;
}

@font-face {
    font-family: Ubuntu-Bold;
    src: url(resources/font/Ubuntu-B.ttf);
}

@font-face {
    font-family: SukkumvitSet;
    src: url(resources/font/SukhumvitSet.ttf);
}

@font-face {
    font-family: ThaiSansNue-Light;
    src: url(resources/font/ThaiSansNeue-Light.ttf);
}

@font-face {
    font-family: ThaiSansNue;
    src: url(resources/font/ThaiSansNeue-Regular.ttf);
}

@font-face {
    font-family: "Helvetica-Neue";
    src: url(resources/font/HelveticaNeue.dfont);
}

@font-face {
    font-family: Helvetica;
    src: url(resources/font/Helvetica.dfont);
}

@font-face {
    font-family: STHeiti;
    src: url(resources/font/华文细黑.ttf);
}

.fontThaiSan {
    font-family: ThaiSansNue;
}

.textDescriptionProduct {
    font-family: ThaiSansNue-Light;
    font-size: 20px;
    margin-top: 40px;
    color: dimgrey;
    letter-spacing: 1px;
    font-style: inherit;
}

.textReviewDetail {
    font-style: oblique;
    font-size: 18px;
    font-family: ThaiSansNue;
    color: #808080;
}

td p {
    margin-left: 20px;
}

.divBackgroundColorGrey {
    background-color: #f5f5f5;
}

.divBackgroundColorWhite {
    background-color: #ffffff;
}

.profileNet {
    border: solid;
    border-color: #ffffff;
    width: 50px;
    height: 50px;
}

.socialLogo {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.profileReview {
    width: 50px;
    height: 50px;
}

.reviewScrollable {
    width: 100%;
    height: 200px;
    overflow-y: scroll;
}

.textHeaderProduct {
    font-family: STHeiti;
    letter-spacing: 2px;
}

.textSeccondHeaderProduct {
    font-family: STHeiti;
}

.how-to-description {
    font-family: ThaiSansNue-Light;
}

.textSeccondHeaderProductTH {
    font-family: ThaiSansNue;
}

.productDetailBox {
    top: 20%;
}

.reviewTextHeader {
    font-family: STHeiti;
    margin-top: 20px;
}

.textHeaderProductTH {
    font-family: ThaiSansNue;
}

.productImageBox {
    padding-top: 5%;
}

.productImage {
    text-align: center;
    vertical-align: middle;
    padding-bottom: 5%;
}

.divLeft {
    margin-top: 5%;
}

.shopLogo {
    max-width: 80%;
}

.marginTop20 {
    margin-top: 20px;
}
.marginTop10 {
    margin-top: 10px;
}

.padding1 {
    padding-top: 2%;
}

.marginTop30 {
    margin-top: 30px;
}

.fontMenu {
    color: #f8f8ff;
    font-size: 15px;
    margin-right: 10px;
    font-family: Helvetica;
"
}

.fontHelvetica {
    font-family: Helvetica;
}

.fontSTHeiti {
    font-family: STHeiti;
}

.goldStar {
    font-size: 18px;
    color: gold;
    letter-spacing: 1px;

}

.fontWeightBold {
    font-weight: bold;
}

.transparent-background {
    background-color: transparent;
    border: none;
}

.adminLoginContainer {
    margin-top: 300px;
}

.admin-fh-text-header {
    color: #f5f5f5;
}

.center {
    text-align: center;
}

.menu-padding-height {
    padding-top: 3%;
    z-index: 1;
}

.content-padding-height {
    padding-top: 10%;
    height: 70%;
    z-index: 1;
}

.fontlogo {
    font-size: 30px;
    letter-spacing: 1px;
}

.checkoutheader{
    color: rgb(94,92,92);
    margin-top: 20px;
    font-size: 50px;
    letter-spacing: 1px;
    font-family: Helvetica;
}

.paddingtop {
    padding-top: 7%;
}

.containnerbg {
    background-color: rgba(255, 255, 255, 0.7);
}

.beforeVid {
    font-family: Quicksand-Light;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 5%;
    color: #262626;
    text-decoration: none;
}

.afterContent {
    font-family: Helvetica-Light;
    text-align: center;
    font-weight: bold;
    padding-bottom: 1%;
    color: #357ebd;
    font-size: 16px;
    margin-left: 30px;
}

.choice-article {
    font-family: ThaiSansNue;
    text-align: center;
    color: #357ebd;
    font-size: 24px;
}

.margin-left30 {
    margin-left: 30px;
}

@font-face {
    font-family: Quicksand-Light;
    src: url(resources/font/Quicksand-Light.otf);
}

.padding3 {
    padding-top: 5%;
}

.productHeader {
    font-family: Quicksand-Light;
    text-transform: uppercase;
}

.productDetail {
    font-family: ThaiSansNue-Light;
    font-size: 22px;
}

.showproductbox {
    padding-top: 7%;
}

.separateLine {
    margin-top: 50px;
    margin-bottom: 50px;
}

.fontThaiSanLight {
    font-family: ThaiSansNue-Light;
    font-size: 22px;
}
.fontThaiSanLightWithoutSize{
    font-family: ThaiSansNue-Light;
}
.blog-header-thumbnail {
    font-size: 33px;
    font-family: ThaiSansNue-Light;
    color: cadetblue;
}

.blog-short-description {
    font-family: ThaiSansNue-Light;
}

.howToOrderHeader {
    font-family: Quicksand-Light;
    text-align: center;
}

.contactIndex {
    font-family: Quicksand-Light;
    text-align: center;
}

#facebookBtn {
    width: 120px;
    color: #ffffff;
    background-color: rgb(60, 90, 148);
}

#facebookBtn:hover {
    background-color: rgb(143, 172, 227);
}

#lineBtn {
    width: 120px;
    color: #ffffff;
    background-color: rgb(0, 159, 65);
}

#lineBtn:hover {
    background-color: rgb(91, 217, 143);
}

#igBtn {
    width: 120px;
    color: #ffffff;
}

#igBtn:hover {
    opacity: 0.5;
}

.thankyou {
    font-family: Quicksand-Light;
    font-style: oblique;
    color: #808080;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.fooster {
    background-color: #000000;
    color: #ffffff;
    margin-bottom: 0px;
    text-align: center;
}

.non-decoration {
    text-decoration: none;
}

.submit-payment-header {
    font-family: ThaiSansNue-Light;
    font-size: 40px;
}

.product-inside-header {
    font-family: Quicksand-Light;
}

.fontQuicksand {
    font-family: Quicksand-Light;
}

.greenHeader{
    color: green;
}
.purpleHeader{
    color: purple;
}
.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #d3d3d3;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

.top-box-checkout{
    border: 1px solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: #d3d3d3;
    height: 60px;
}
.middle-box-checkout{
    border: 1px solid;
    border-top: none;
    border-color: #d3d3d3;
    height: 60px;
}
.bottom-box-checkout{
    border: 1px solid;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: #d3d3d3;
    height: 60px;
}

.top-box-checkout-right{
    border: 1px solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-color: #d3d3d3;
    background-color: rgb(249,249,249);
    height: 50px;
}
.middle-box-checkout-right{
    border: 1px solid;
    border-top: none;
    border-color: #d3d3d3;
    background-color: rgb(249,249,249);
    height: 120px;
}
.bottom-box-checkout-right{
    border: 1px solid;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: #d3d3d3;
    background-color: rgb(249,249,249);
    height: 60px;
}

.input-checkout{
    font-size: 16px;
    margin-top: 10px;
    height: 40px;
    width: 430px;
    border: 0px solid;
    outline: none;
}


.text-guide-checkout{
    font-size: 16px;
}

.transfer-money{
    margin-top: 30px;
}
.result{
    font-size: 80px;
}
.noteImportance{
    color: #ff0000;
    font-size: 18px;
}

.menu-index{
    color: #f8f8ff;
    margin-right: 10px;
}

.filenotfound-title{
    margin-top: 150px;
    font-family: Ubuntu-Bold;
    font-size: 50px;
    color: dimgray;
}

.filenotfound-content{
    margin-top: 20px;
    font-family: Quicksand-Light;
    font-size: 30px;
    color: #ffffff;
}

.filenotfound-suggest{
    color: dimgray;
}

.filenotfound-link{
    color: rgb(247,14,86);
    text-decoration: none;
}

.image-padding-bottom{
    padding-bottom: 20px;
}

.fooster-background{
    background-color: rgb(50,58,68);
    color: whitesmoke;
    font-family: Quicksand-Light;
}

.quick-link{
    color: whitesmoke;
}
#cssmenu_top ul > li.active{
    background-color: #FF0000;
}

.event-category-link{
    text-decoration: none;
    color: #000000;
}

.event-category-link:hover{
    color: orange;
}

.top-box-signup{
    margin-top: 60px;
    background-color: rgb(50,58,68);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 100px;
}

.bot-box-signup{
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
    height: 400px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.join-us-free{
    font-size: 25px;
    font-family: Quicksand-Light;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold
}

.join-us-happy{
    color: #808080;
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
}

.signup-input{
    height: 40px;
    width: 100%;
    font-family: Quicksand-Light;
    margin-top: 10px;
    font-size: 16px;
}

.signup-button{
    margin-top: 20px;
    height: 50px;
    width: 100%;
    background-color: #f0ad4e;
    padding-bottom: 30px;
    line-height: 50px;
    font-weight: bold;
    border: none;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.signup-button:hover{
    background-color: #eb9316;
}
.already-has{
    font-family: Helvetica;
    color: whitesmoke;
    margin-top: 20px;
}
.login-text-from-signup{
    text-decoration: none;
    color: orange;
}

.login-text-from-signup:hover{
    color: orange;
}

.forget-password{
    font-family: Helvetica;
    color: #808080;
    margin-top: 20px;
}
.forget-password:hover{
    color: #808080;
}